/* header  */
.logo{
    width: 100px;
    height: 100px;
    margin: 0px 670px 0px 0px;
    
}
.header{
    display: flex;
    height: 150px;
    align-items: center;
    background-color:pink;
    padding:0px 0px 0px 15px;
    margin: -8px -8px 0px -8px;
}
a{
    margin: 10px;
}


/* info  */
.me{
    width: 300px;
    height: 300px;
    margin: 0px 100px 0px 0px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 500px;
    background-color:lightcoral;
    font-size: 150%;
    font-weight: 600;
    padding: 0px 0px 0px 15px;
    margin: 0px -8px -8px -8px;
}



 /* achievments */
 .topic{
     height: 100px;
     width: 100px;
 }
 h3{
     text-align: center;
 }
 .article{
     text-align: center;
    background-color: white;
     margin: 30px;
     
 }
 .content{
     text-align: center;
     background-color: pink;
     margin: -8px;
     height: 675px;
    
 }
.footer{
    text-align: center;
    background-color: rgb(117, 0, 128);

}
.foot{
    width: 25px; 
    height: 25px;
    margin: 8px;
    
}



 /* footer  */

